<div id="parent-grid-footer">
    <footer id="footer-app" class="footer">
        <div class="container">
    
            <p>
            &copy 2024-2025 Tetiana Talebi
            <a class="gitHub" href="https://github.com/TetianaTalebi"></a>   
            <a class="linkedIn" href="https://www.linkedin.com/in/tetianatalebi/"></a>
            </p>

            <p>This <i>YelpCamp</i> project is based on a tutorial from the Udemy course <a href="https://www.udemy.com/share/101W9C3@8DTcK_av2hYV0yXuZOXIV73A-SbVYORYJ5C3MAiOxghfLpL505eBLg685qZ09XVBHg==/"><i>“The Web Developer Bootcamp 2025”</i></a>, taught by <a href="https://www.udemy.com/user/coltsteele/">Colt Steele</a>.</p>

        </div>
    </footer>
</div>
