<div id="parent-grid-footer">
    <footer id="footer-app" class="footer bg-dark py-3 mt-auto">
        <div class="container">
            <span>&copy 2024-2025 Tetiana Talebi </span>
        </div>
    </footer>
</div>
