<% layout ('layouts/boilerplate') %>

<div id="page404Container">
    <div id="page404ImageWrapper">
        <img id="page404Image" src="https://res.cloudinary.com/dljmlxtmx/image/upload/v1762291941/YC_404_page_img_reclxk.webp" alt="">
    </div>
    <div id="page404TextWrapper">
        <p> &#x26FA;Oops! Looks like you have wandered off the trail&#x1F332;<br>
        The page you are looking for is not here (Error 404) 
        </p>

        <p>
        Head back to safety &#8594; <a href="/">the home page</a> <br>
        and keep exploring!&#x1F30C;
        </p>
        
    </div>
</div>

