<% layout ('layouts/boilerplate') %>

<div class="container">
    <div class="row">
        <h1 class="text-center new-edit-h1">New Campground</h1>
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">

            <div id="newCampFormWrapper" class="p-3 mb-5 bg-body rounded">
                <div class="card-body">
                    <form enctype="multipart/form-data" class="validated-form" action="/campgrounds" method="POST" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="title">Title</label>
                            <input class="form-control" type="text" id="title" name="campground[title]" placeholder="Campground title" required autocomplete="off">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                              Please provide campground title.
                            </div>
                        </div>
        
                        <div class="mb-3">
                            <label class="form-label" for="price">Price, USD/night</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text" id="price-label">$</span>
                                <input class="form-control" step="1" type="number" id="price" min="0" name="campground[price]" aria-label="price" aria-describedby="price-label" required autocomplete="off" placeholder="0">
                                <!-- <input class="form-control" type="text" id="price" name="campground[price]" aria-label="price" aria-describedby="price-label" required> -->
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                  Please provide campground price (USD/night).
                                </div>
                            </div>
                        </div>
        
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea name="campground[description]" id="description" class="form-control"
                            rows="3" required placeholder="Enter your description here..."></textarea>
                            <div class="valid-feedback">
                              Looks good!
                            </div>
                            <div class="invalid-feedback">
                              Please provide campground description.
                            </div>
                        </div>
        
                        <div class="input-group mb-3">
                            <!-- <label class="input-group-text" for="image"></label> -->
                            <input type="file" id="image" name="image" multiple class="form-control">
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label" for="location">Location</label>
                            <input class="form-control" type="text" id="location" name="campground[location]" placeholder="Campground location" required autocomplete="off">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                              Please provide campground location.
                            </div>
                        </div>
                        <div class="d-grid mb-3">
                            <button class="btn btn-info">Add campground</button>
                        </div>
                        
                    </form>
                    
                </div>
            </div>   
        </div>
    </div>
</div>
    

    

    

