body {
    /* Winky Rough Google font */
    font-family: 'Winky Rough', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    /* body background-image tile */
    background-image: url("../images/Boreal_Forest_tile.webp");

    /* size of body background-image tile */
    background-size: 20%;

    /* background image's position is fixed within the viewport */
    background-attachment: fixed;
}



/* Pagination */
.hidden {
    display: none;
}

/* color for highlighting active elements   #eb5e28 */

ul.pagination {
    /* margin-top: 20px; */
    margin-top: 3rem;
}

.page-item.page > .page-link {
    font-size: 1.5rem;
    font-weight: 500;
    min-width: 3rem;
    text-align: center;
    color: darkgreen;
    background-color: #CCFF33;
    padding: 0.5rem;
}

.page-item.page.active > .page-link {
    background-color: #eb5e28;
    color: white;
    cursor: pointer;
}

#previousPage > .page-link,
#nextPage > .page-link,
#previous10Pages > .page-link,
#next10Pages > .page-link,
#paginationStart > .page-link,
#paginationEnd > .page-link {
    font-size: 1.5rem;
    font-weight: 500;
    min-width: 3rem;
    text-align: center;
    padding: 0.5rem;
    color: darkgreen;
    background-color: #CCFF33;
}

#paginationStart > .page-link {
    border-radius: 1.5rem 0 0 1.5rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
}

#paginationEnd > .page-link {
    border-radius: 0 1.5rem 1.5rem 0;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
}

#previousPage > .page-link:hover,
#nextPage > .page-link:hover,
#previous10Pages > .page-link:hover,
#next10Pages > .page-link:hover,
#paginationStart > .page-link:hover,
#paginationEnd > .page-link:hover,
.page-item.page > .page-link:hover {
    background-color: #9EF01A;
    cursor: pointer;
}

#previousPage.disabled > .page-link,
#nextPage.disabled > .page-link,
#previous10Pages.disabled > .page-link,
#next10Pages.disabled > .page-link,
#paginationStart.disabled > .page-link,
#paginationEnd.disabled > .page-link  {
    background-color: lightgray;
    color: slategrey;
}

#previousPage > .page-link,
#nextPage > .page-link,
#previous10Pages > .page-link,
#next10Pages > .page-link,
#paginationStart > .page-link,
#paginationEnd > .page-link,
.page-item.page > .page-link {
     box-shadow: inset -0.3rem -0.3rem 0.3rem #00000055, inset 0.3rem 0.3rem 0.3rem #FFFFFF66, 0rem 0.3rem 0.3rem #00000055;
    border-top-color: #FFFFFF66;
    border-left-color: #FFFFFF66;
    border-bottom-color: #00000055;
    border-right-color: #00000055;
}

#paginationEnd > .page-link {
    box-shadow: inset -0.3rem -0.3rem 0.3rem #00000055, inset 0.3rem 0.3rem 0.3rem #FFFFFF66, 0.3rem 0.3rem 0.3rem #00000055;
}

#previousPage > .page-link:active,
#nextPage > .page-link:active,
#previous10Pages > .page-link:active,
#next10Pages > .page-link:active,
#paginationStart > .page-link:active,
#paginationEnd > .page-link:active,
.page-item.page > .page-link:active {
    background-color: #38B000;
    color: white;
    box-shadow: inset 0.3rem 0.3rem 0.3rem #00000055, inset -0.3rem -0.3rem 0.3rem #FFFFFF66;
    border-top-color: #00000055;
    border-left-color: #00000055;
    border-bottom-color: #FFFFFF66;
    border-right-color: #FFFFFF66;
}

.page-link:focus {
    /* Remove Bootstrap bluish color from pagination navbar */
    box-shadow: none;
}

/* styles of Flash messages */
/* box-shadow for alerts */
/* box-shadow: 0 2rem 2rem #00000099; */

#alertContainer {
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    z-index: 1000;

    font-size: 3rem;
    font-weight: 400;
}

#alertSuccessSvg, #alertErrorSvg {
    width: 3rem;
    height: 3rem;
    margin-bottom: 1.2rem;
    margin-right: 1.5rem;
}

#alertSuccess, #alertError {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;

    padding: 1.5rem 10rem 1.5rem 2rem;
    box-shadow: 0 3rem 2rem #00000099;
    font-weight: 400;
    border-radius: 1.5rem;
}

#alertSuccess {
    background: linear-gradient(#CCFF3355, #CCFF3355), white;
    color: darkgreen;
}

#alertError {
    background: linear-gradient(#eb5e2855, #eb5e2855), white;
    color: #eb5e28;
}

#alertSuccess .btn-close {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="darkgreen" class="bi bi-x-square-fill" viewBox="0 0 16 16"><path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708"/></svg>');
}

#alertError .btn-close {
     background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(235, 94, 40)" class="bi bi-x-square-fill" viewBox="0 0 16 16"><path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708"/></svg>');
}

#alertSuccess .btn-close, 
#alertError .btn-close {
        opacity: 0.75;
        background-size: 40%;
        background-position-x: 60%;
        background-position-y: 30%;
        background-repeat: no-repeat;
        box-shadow: none;
}

#alertSuccess .btn-close:hover, 
#alertError .btn-close:hover {
    opacity: 1;
}

html, body {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
/* Grid layout for "All Campgrounds" page */

/* For extra large screens (width > 1200 px) */
#parent-grid-container {
    display: grid;
    min-height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "a"
                         "b"
                         "d";
}

#parent-grid-navbar {
    grid-area: a;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 0.5rem 1rem black;
    opacity: 0.9;
}

#navbar-top {
    height: 6rem;
    font-size: 1.7rem;
    font-weight: 500;
}

#navbar-brand {
    font-size: 2rem;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.05rem;
    align-items: center;
}

#navbar-brand .yc_logo {
    display: inline-block;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50% 50% 0 0;
    background-image: url("../images/YC_logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#navbar-top .nav-link {
    margin: 1rem;
    color: rgba(255,255,255,1);
}

#navbar-brand:hover .yc_logo {
       background-image: url("../images/YC_logo_color.png");
}

#navbar-brand:active .yc_logo {
        background-image: url("../images/YC_logo.png"), linear-gradient(#CCFF3399, #CCFF3399);
        box-shadow: 0.5rem 0 3.05rem #CCFF3388,
        0 0.5rem 3.05rem #CCFF3388,
        -0.5rem 0 3.05rem #CCFF3388,
        0 -0.5rem 3.05rem #CCFF3388;
}

#navbar-brand:hover,
#navbar-top .nav-link:hover {
    color: #CCFF33;
}

#navbar-brand:active,
#navbar-top .nav-link:active {
    text-shadow: 0.5rem 0 1.5rem #CCFF33,
    0 0.5rem 1.5rem #CCFF33,
    -0.5rem 0 1.5rem #CCFF33,
    0 -0.5rem 1.5rem #CCFF33;
    color: white;
}

/* Active top navbar links to be highlighted */
#navbar-top 
a.active-top-link {
    color: #eb5e28 !important;
    text-shadow: none !important;
    font-weight: 600;
}



h1 {
    font-size: 3rem;
    font-weight: 400;
    color: white;
}

#loginWrapper h5.card-title,
#registerWrapper h5.card-title {
    text-align: center;
    font-weight: 500;
    font-size:2rem;
    margin-bottom: 2rem;
}

#loginWrapper,
#registerWrapper {
    font-size:1.5rem
}

#loginWrapper input,
#registerWrapper input {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    background-color: #38B00022;
}


#loginWrapper input::placeholder,
#registerWrapper input::placeholder {
    color: #00000088;
}

/* #showCampEditBtn */
/* #showCampDeleteBtn */


#title-and-button-container a.btn,
#loginBtnWrapper button.btn, 
#registerBtnWrapper button.btn,
#showCampEditBtn,
#showCampDeleteBtn {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
}

#title-and-button-container a.btn,
#loginBtnWrapper button.btn, 
#registerBtnWrapper button.btn,
#showCampEditBtn {
    color: darkgreen;
}

#showCampDeleteBtn {
    color: white;
}


#loginBtnWrapper button.btn, 
#registerBtnWrapper button.btn {
    margin-top: 3rem;
}

#title-and-button-container a.btn-info,
#loginBtnWrapper button.btn-info, #registerBtnWrapper button.btn-info,
#showCampEditBtn,
#showCampDeleteBtn {
    box-shadow: inset -0.3rem -0.3rem 0.3rem #00000055, inset 0.3rem 0.3rem 0.3rem #FFFFFF66, 0.3rem 0.3rem 0.3rem #00000055;
    border-top-color: #FFFFFF66;
    border-left-color: #FFFFFF66;
    border-bottom-color: #00000055;
    border-right-color: #00000055; 
}

#title-and-button-container a.btn-info,
#loginBtnWrapper button.btn-info, #registerBtnWrapper button.btn-info,
#showCampEditBtn {
    background-color: #CCFF33;
}

#showCampDeleteBtn {
    background-color:#eb5e28;
}

#title-and-button-container a.btn-info:hover,
#loginBtnWrapper button.btn-info:hover, 
#registerBtnWrapper button.btn-info:hover,
#showCampEditBtn:hover,
#showCampDeleteBtn:hover {
    background-color: #9EF01A;
}

#title-and-button-container a.btn-info:active,
#loginBtnWrapper button.btn-info:active, 
#registerBtnWrapper button.btn-info:active,
#showCampEditBtn:active,
#showCampDeleteBtn:active {
    background-color: #38B000;
}

#title-and-button-container a.btn:active,
#loginBtnWrapper button.btn:active, 
#registerBtnWrapper button.btn:active,
#showCampEditBtn:active,
#showCampDeleteBtn:active {
    color: white;
    box-shadow: inset 0.3rem 0.3rem 0.3rem #00000055, inset -0.3rem -0.3rem 0.3rem #FFFFFF66;
    border-top-color: #00000055;
    border-left-color: #00000055;
    border-bottom-color: #FFFFFF66;
    border-right-color: #FFFFFF66;
}

#showCampEditBtn,
#showCampDeleteBtn {
    width: 30rem;
}

#parent-grid-footer {
    grid-area: d;
    position: relative;
    bottom: 0;
}

#footer-app {
    height: 12rem;
    background-color: #00000088;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer-app a,
#footer-app p {
 color: #CCFF33;
 font-size: 1.4rem;
 font-weight: 500;
}

#footer-app a:hover {
    color:#eb5e28; 
}

#footer-app p {
    margin-top:1.6rem;
}

#footer-app p:last-of-type {
    margin-bottom: 3rem;
}

 #gitHubFooterPartial,
 #linkedInFooterPartial {
    text-decoration: none;
    overflow: visible;
}

#gitHubFooterPartialSvg,
#linkedInFooterPartialSvg {
    width: 2.5rem;
    height: 1.9rem;
}

#gitHubFooterPartial {
   margin-left: 0.3rem;
}


/* the 1st nested grid container for "All Campgrounds" page for screens > 1200px  */
#nested1-grid-container {
    display: grid;
    grid-area: b;
    grid-template-columns: minmax(0, 1fr) 1060px minmax(0, 1fr);
    grid-template-rows: auto 128px repeat(2, auto);
    grid-template-areas: ". e  ."
                         ". f  ."
                         ". h  ."
                         ". i  .";
}

/* Nested1-grid-container elements */

#cluster-map-container {
    grid-area: e;
}

#cluster-map {
    width: 100%;
    height: 655px;
}

#title-and-button-container {
    grid-area: f;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* the 2nd nested grid container */

#paginated {
    display: grid;
    grid-area: h;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}

.campground-card {
    height: 404px;
    width: 250px;
    background-color: white;
    text-align: center;
    position: relative;
    padding: 1.5rem;

}

.campground-card:hover {
    transform: rotateX(20deg) skewX(2deg);
    background: linear-gradient( grey, white 6%);
}


 
.campground-card-img-wrapper > img {
    height: 6.5rem;
    width: auto;
}

.campground-card-img-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 168px;
    margin: 0 auto;
}

h5.card-title,
.campground-card-text-location,
.campground-card-text-description {
    margin: 8px auto;
}

h5.card-title,
.campground-card-text-location {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.campground-card-text-location {
    color: rgba(33, 37, 41, 0.8);
    font-weight: 300;
    font-size: 0.9rem;
}


.campground-card-text-description {
    text-align: justify;
}


.campground-card-btn {
    display: block;
    text-decoration: none;

    font-size: 1.5rem;
    color: white;

    background-color: darkgreen;
    border-radius: 1.4rem;
    
    height: 52px;
    line-height: 52px;
    width: 84px;
    margin: 0 auto;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.5rem;

    box-shadow: inset -0.3rem -0.3rem 0.3rem #00000055, inset 0.3rem 0.3rem 0.3rem #FFFFFF66, 0.3rem 0.3rem 0.3rem #00000055;
    border-top-color: #FFFFFF66;
    border-left-color: #FFFFFF66;
    border-bottom-color: #00000055;
    border-right-color: #00000055;
}

.campground-card-btn:hover {
    color: white;
    background-color: #38B000;
   
}

.campground-card:hover .campground-card-btn {
    box-shadow: inset -0.3rem -0.3rem 0.3rem #00000055, inset 0.3rem 0.3rem 0.3rem #FFFFFF66, 0.4rem 0.7rem 0.5rem #00000055;
}

.campground-card:hover .campground-card-btn:active {
    color: darkgreen;
    background-color: #CCFF33;
    box-shadow: inset 0.3rem 0.3rem 0.3rem #FFFFFF66, inset -0.3rem -0.3rem 0.3rem #00000011;
    border-top-color: #00000055;
    border-left-color: #00000055;
    border-bottom-color: #FFFFFF66;
    border-right-color: #FFFFFF66;
    
}

#nav-pagination-wrapper {
    grid-area: i;
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}



#loginWrapper, #registerWrapper {
    box-shadow: 0 2rem 2rem #00000099;
}





 
    
