/* #CCFF33 is rgba(204, 255, 51, 1) */

body {
    /* Winky Rough Google font */
    font-family: 'Winky Rough', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    /* body background-image tile */
    background-image: url("../images/Boreal_Forest_tile.webp");

    /* size of body background-image tile */
    background-size: 20%;

    /* background image's position is fixed within the viewport */
    background-attachment: fixed;
}

/* Active top navbar links to be highlighted */
.active-top-link {
    color:#eb5e28;
}

/* Pagination */
.hidden {
    display: none;
}

/* color for highlighting active elements   #eb5e28 */
/* ??? complementary color of #CCFF33 is #6633FF ??? */

ul.pagination {
    margin-top: 20px;
}
#previousPage > .page-link,
#nextPage > .page-link {
    font-size: 1.5rem;
    font-weight: 500;
    min-width: 3rem;
    text-align: center;
    padding: 0.5rem;
    color: darkgreen;
    background-color: #CCFF33;
    border-color: #CCFF33;
}

#previousPage > .page-link {
    border-radius: 1.5rem 0 0 1.5rem;
}

#nextPage > .page-link {
    border-radius: 0 1.5rem 1.5rem 0;
}

#previousPage > .page-link:hover,
#nextPage > .page-link:hover,
.page-item.page > .page-link:hover {
    background-color: #9EF01A;
    border-color: #9EF01A;
}

#previousPage > .page-link:active,
#nextPage > .page-link:active,
.page-item.page > .page-link:active {
    background-color: #38B000;
    border-color: #38B000;
    color: white;
}

#previousPage.disabled > .page-link,
#nextPage.disabled > .page-link {
    background-color: lightgray;
    border-color: lightgray;
    color: slategrey;
}


.page-item.page > .page-link {
    font-size: 1.5rem;
    font-weight: 500;
    min-width: 3rem;
    text-align: center;
    color: darkgreen;
    background-color: #CCFF33;
    border-color: #CCFF33;
    padding: 0.5rem;
}

.page-item.page.active > .page-link {
    background-color: #eb5e28;
    border-color: #eb5e28;
    color: white;
    cursor: pointer;
}

.page-link:hover {
    background-color: #9EF01A;
    border-color: #9EF01A;
    cursor: pointer;
}

.page-link:focus {
    /* Remove Bootstrap bluish color from pagination navbar */
    box-shadow: none;
}

/* styles of Flash messages */
#alertContainer {
    /* temporarily turn Flash messages off */
    display: none;
    /* position: fixed;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    z-index: 1000; */
}

html, body {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
/* Grid layout for "All Campgrounds" page */

/* For extra large screens (width > 1200 px) */
#parent-grid-container {
    display: grid;
    min-height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "a"
                         "b"
                         "d";
}

#parent-grid-navbar {
    grid-area: a;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 0.5rem 1rem black;
}

#navbar-top {
    height: 6rem;
    font-size: 1.5rem;
}

#navbar-brand {
    font-size: 2rem;
    font-weight: 600;
    white-space: preserve nowrap;
    overflow: visible;
    margin-left: 1rem;
}

#navbar-top .nav-link {
    margin: 1rem;
    color: rgba(255,255,255,1);
}

#navbar-brand:hover,
#navbar-top .nav-link:hover {
    color: #CCFF33;
}

#navbar-brand:active,
#navbar-top .nav-link:active {
    text-shadow: 0.5rem 0 1.5rem #CCFF33,
    0 0.5rem 1.5rem #CCFF33,
    -0.5rem 0 1.5rem #CCFF33,
    0 -0.5rem 1.5rem #CCFF33;
    color: white;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    color: white;
}

#title-and-button-container a.btn {
    font-size: 1.5rem;
    color: darkgreen;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
}

#title-and-button-container a.btn-info {
    background-color: #CCFF33;
    border-color: #CCFF33;
}

#title-and-button-container a.btn-info:hover{
    background-color: #9EF01A;
    border-color: #9EF01A;

}

#title-and-button-container a.btn-info:active{
    background-color: #38B000;
    border-color: #38B000;
}

#title-and-button-container a.btn:active{
    color: white;
    box-shadow: none;
}



#parent-grid-footer {
    grid-area: d;
    position: relative;
    bottom: 0;
}

#footer-app {
    height: 5rem;
    color: rgba(204, 255, 51, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* the 1st nested grid container  */
#nested1-grid-container {
    display: grid;
    grid-area: b;
    grid-template-columns: minmax(0, 1fr) 1060px minmax(0, 1fr);
    grid-template-rows: auto 128px repeat(2, auto);
    grid-template-areas: ". e  ."
                         ". f  ."
                         ". h  ."
                         ". i  .";
}

/* Nested1-grid-container elements */

#cluster-map-container {
    grid-area: e;
}

#cluster-map {
    width: 100%;
    height: 655px;
}

#title-and-button-container {
    grid-area: f;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* the 2nd nested grid container */

#paginated {
    display: grid;
    grid-area: h;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}

.campground-card {
    height: 404px;
    width: 250px;
    background-color: white;
    text-align: center;
    position: relative;
    padding: 1.5rem;

}

.campground-card-img-wrapper > img {
    height: 6.5rem;
    width: auto;
}

.campground-card-img-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 168px;
    margin: 0 auto;
}

h5.card-title,
.campground-card-text-location,
.campground-card-text-description {
    margin: 8px auto;
}

h5.card-title,
.campground-card-text-location {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.campground-card-text-location {
    color: rgba(33, 37, 41, 0.8);
    font-weight: 300;
    font-size: 0.9rem;
}


.campground-card-text-description {
    text-align: justify;
}


.campground-card-btn {
    display: block;
    text-decoration: none;

    font-size: 1.5rem;
    color: white;

    background-color: darkgreen;
    border-color: darkgreen;
    border-radius: 1.4rem;
    
    height: 52px;
    line-height: 52px;
    width: 84px;
    margin: 0 auto;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.5rem;
}

.campground-card-btn:hover {
    color: white;
    background-color: #38B000;
    border-color: #38B000;
}

.campground-card-btn:active {
    color: darkgreen;
    background-color: #CCFF33;
    border-color: #CCFF33;
}

#nav-pagination-wrapper {
    grid-area: i;
    height: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

#map {
    width: 100%;
    height: 300px;
}


 
    
