body {
    /* Winky Rough Google font */
    font-family: 'Winky Rough', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url("https://res.cloudinary.com/dljmlxtmx/image/upload/v1761878790/tanya00255_A_serene_peaceful_camping_scene_where_the_tent_sits__e79bc97e-194d-4b88-a7bf-f798136dbdb7_qpqylc.webp");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0,0,0,0.5);
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.5);
}

.nav-link {
    padding: 0.25rem 0;
    margin-left: 1rem;
    font-weight: 700;
    color: rgba(255,255,255,0.5);
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
    color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
}

.nav-link.active {
    color: white;
    border-bottom-color: white;
}

.btn-light {
    color: #333;
    border-radius: 10px;
    text-shadow: none;
}

.btn-light:hover {
    color: #333;
    background-color: rgba(210,210,210,1);
    border-color: rgba(210,210,210,1);
    border-radius: 10px;
    text-shadow: none;
}

.cover-container {
    max-width: 60vw; 
}

 
#homePageFooter a,
#homePageFooter p {
 color: white;
 font-size: 1.5rem;
 font-weight: 500;
}

#homePageFooter hr {
    background-color: white;
    height: 0.3rem;
}


#homePageFooter .gitHub,
#homePageFooter .linkedIn {
    text-decoration: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin: 0 0 0 0.3rem;
}

#homePageFooter .gitHub {
    background-image: url("../images/github_white.png");
}

#homePageFooter .linkedIn {
    background-image: url("../images/linkedin.png");
}

#homePageFooter hr {
    height: 0.3rem;
    /* border-top: 0.3rem solid rgba(204, 255, 51, 1); */
    border-top: 0.3rem solid white;
}