html, body {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    /* Winky Rough Google font */
    font-family: 'Winky Rough', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    background-color: black;

    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url("https://res.cloudinary.com/dljmlxtmx/image/upload/v1761878790/tanya00255_A_serene_peaceful_camping_scene_where_the_tent_sits__e79bc97e-194d-4b88-a7bf-f798136dbdb7_qpqylc.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

/* #homePageNavbarToggler is hidden for screens that have widths larger than 768px */

#homePageNavbarToggler {
    display: none;
}

/* Styles for screen width > 1200 px */

#homePageWrapper {
    display: grid;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    grid-template-columns: minmax(0, auto) 300px 900px minmax(0, auto);
    grid-template-rows: 8rem auto 12rem;
    grid-template-areas: ". hPLogo hPNav ."
                         ". hPWelc hPWelc ."
                         ". hPFooter hPFooter .";
}

#homePageBrand,
#homePageNavbar {
    position: sticky;
    top: 0;
    z-index: 10;
}

#homePageBrand {
    grid-area: hPLogo;
    
    font-size: 2rem;
    font-weight: 400;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.05rem;
    align-items: center;
}

#navbarHomeLogo {
    display: inline-block;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50% 50% 0 0;
    background-image: url("../images/YC_logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* Nabvar styles */

#homePageNavbar {
    grid-area: hPNav;
    padding: 1.5rem;

    font-size: 1.7rem;
    font-weight: 500;

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

#homePageNavbar a {
    text-decoration: none;
    margin-left: 1.5rem;
    color: white;
}

#homePageNavbar a:hover {
    color: #CCFF33;
}

#homePageNavbar a:active {
    text-shadow: 0.5rem 0 1.5rem #CCFF33,
    0 0.5rem 1.5rem #CCFF33,
    -0.5rem 0 1.5rem #CCFF33,
    0 -0.5rem 1.5rem #CCFF33;
    color: white;
} 

/* Active top navbar links to be highlighted */

#homePageNavbar a.active {
    font-size: 1.8rem;
    color:#eb5e28;
    font-weight: 600;
    text-shadow: none;
}

#homePageWelcomeWrapper {
    grid-area: hPWelc;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#homePageWelcomeWrapper h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
} 

#homePageWelcomeWrapper p {
    font-size: 1.8rem;
} 

#homePageWelcomeWrapper h1,
#homePageWelcomeWrapper p {
    color: white;
    font-weight: 400;
}

/* Styles of home page button "View campgrounds" */

#homePageWelcomeBtn {
    margin-top: 2rem;
    display: block;
    width: 25rem;
    text-decoration: none;

    font-size: 1.8rem;
    color: black;
    font-weight: 400;

    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    background-color: white;

    transition: opacity 0.5s;
}

#homePageWelcomeBtn:hover {
    opacity: 0.7;
}

#homePageWelcomeBtn:active {
    color: white;
    background-color: black;
}

/* Styles of Home page footer */

#homePageFooter {
    grid-area: hPFooter;
    text-align: center;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#homePageFooter a {
    text-decoration: none;
}

#homePageFooter a,
#homePageFooter p {
 color: white;
 font-size: 1.5rem;
 font-weight: 500;
}

#homePageFooter a:hover {
    color:#CCFF33;
}

#homePageFooter .gitHub,
#homePageFooter .linkedIn {
    text-decoration: none;
    overflow: visible;
}

#linkedInHomeSvg, 
#gitHubHomeSvg {
    width: 2.5rem;
    height: 1.9rem;
}

#homePageFooter .gitHub {
    margin-left: 0.35rem;
}

/* Styles for screen width between 992px and 1200px */

@media (max-width: 1200px) {
        #homePageWrapper {
            grid-template-columns: minmax(0, auto) 240px 750px minmax(0, auto);
            grid-template-rows: 8rem auto 10rem;
            grid-template-areas: ". hPLogo hPNav ."
                                ". hPWelc hPWelc ."
                                ". hPFooter hPFooter .";
        }

        /* Nabvar styles */

        #homePageNavbar {
            font-size: 1.5rem;
        }

        /* Active top navbar links to be highlighted */

        #homePageNavbar a.active {
            font-size: 1.6rem;
        }

        #homePageWelcomeWrapper {
            padding: 1.5rem 2.5rem;
        }

        #homePageWelcomeWrapper h1 {
            font-size: 2.5rem;
        } 

        #homePageWelcomeWrapper p {
            font-size: 1.5rem;
        } 


        /* Styles of home page button "View campgrounds" */

        #homePageWelcomeBtn {
            width: 20rem;
            font-size: 1.5rem;
            border-radius: 1.2rem;
        }

        /* Styles of Home page footer */

        #homePageFooter a,
        #homePageFooter p {
        font-size: 1.2rem;
        }

        #linkedInHomeSvg, 
        #gitHubHomeSvg {
            width: 2rem;
            height: 1.5rem;
        }

        #homePageFooter .gitHub {
            margin-left: 0.2rem;
        }

}

/* Styles for screen width between 768px and 992px */

@media(max-width: 992px){
        #homePageWrapper {
                grid-template-columns: 1fr 3fr;
                grid-template-rows: 6rem auto 10rem;
                grid-template-areas: "hPLogo hPNav"
                                    "hPWelc hPWelc"
                                    "hPFooter hPFooter";
        }

        #homePageBrand,
        #homePageNavbar {
            background-color: #000000AA;
        }

        #homePageBrand {
            font-size: 1.5rem;
        }

        #navbarHomeLogo {
            width: 4rem;
            height: 4rem; 
        }

        #homePageNavbar {
            font-size: 1.2rem;
        }

        /* Active top navbar links to be highlighted */

        #homePageNavbar a.active {
            font-size: 1.25rem;
        }

        #homePageWelcomeWrapper {
            padding: 4rem 3rem 1rem 3rem;
        }

         #homePageWelcomeWrapper h1 {
            margin-bottom: 2.5rem;
            font-size: 1.5rem;
        } 

        #homePageWelcomeWrapper p {
            font-size: 1.1rem;
        } 

        /* Styles of home page button "View campgrounds" */

        #homePageWelcomeBtn {
            margin-top: 2.5rem;
            width: 12rem;
            font-size: 1.1rem;
            border-radius: 0.9rem;
            padding: 0.4rem 1rem;
            
        }

        /* Styles of Home page footer */

        #homePageFooter a,
        #homePageFooter p {
        font-size: 0.9rem;
        }

        #linkedInHomeSvg, 
        #gitHubHomeSvg {
            width: 1.25rem;
            height: 1.1rem;
        }

        #homePageFooter .gitHub {
            margin-left: 0.2rem;
        }
}

/* Styles for screen width between 576px and 768px */

@media(max-width: 768px){
        #homePageWrapper {
                grid-template-columns: 12rem auto;
                grid-template-rows: 5rem auto 7rem;
                grid-template-areas: "hPLogo hPNavToggler"
                                    "hPWelc hPWelc"
                                    "hPFooter hPFooter";
        }

        #homePageNavbarToggler {
            display: flex;
            grid-area: hPNavToggler;
            flex-direction: row;
            justify-content: end;
            align-items: center;

            position: sticky;
            top: 0;
            z-index: 10;

            padding: 1.5rem;
            color: white;
        }

        #homePageNavbarTogglerSvg {
            width: 1.8rem;
            height: 1.8rem;
        }

        
        #homePageNavbar {
            font-size: 1.1rem;
            padding-top: 0;

            position: fixed;
            top: -16rem;
            transition: top 1s ease-in-out;
            left: 0;
            z-index: 9;

            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;

            width: 20rem;
            height: 10.1rem;  
        }

        #homePageBrand,
        #homePageNavbarToggler,
        #homePageNavbar {
            box-shadow: 0 0.3rem 0.3rem black;
        }

        #homePageNavbar.showNavbar {
            top: 5rem;
        }

        #homePageNavbar a {
            display: block;
            margin: 0.5rem 0 0.5rem;
        }

        #homePageBrand,
        #homePageNavbarToggler,
        #homePageNavbar {
            background-color: #000000CC;
        }

        #homePageBrand {
            font-size: 1.4rem;
        }

        #navbarHomeLogo {
            width: 3rem;
            height: 3rem; 
        }

        /* Active top navbar links to be highlighted */

        #homePageNavbar a.active {
            font-size: 1.15rem;
        }

        #homePageWelcomeWrapper {
            padding: 3rem;
         }

         #homePageWelcomeWrapper h1 {
            font-size: 1.4rem;
        } 

        #homePageWelcomeWrapper p {
            font-size: 1rem;
        } 

        /* Styles of home page button "View campgrounds" */

        #homePageWelcomeBtn {
            width: 11rem;
            font-size: 1rem;
            border-radius: 0.9rem;
            padding: 0.4rem 1rem;
            
        }

        /* Styles of Home page footer */

        #homePageFooter {
            padding: 1rem 3rem 2rem 3rem;
        }

        #homePageFooter a,
        #homePageFooter p {
        font-size: 0.8rem;
        }

        #linkedInHomeSvg, 
        #gitHubHomeSvg {
            width: 1.1rem;
            height: 1rem;
        }

        #homePageFooter .gitHub {
            margin-left: 0.2rem;
        }
}

/* Styles for screen width less than 576px */
/* Also we assume that 320px is the most widely accepted minimum width for the current mobile devices  */

@media(max-width: 576px){

        #homePageWrapper {
                grid-template-rows: 5rem auto 10rem;
        }

        #homePageWelcomeWrapper {
            padding: 3.1rem 1.5rem 2rem 1.5rem;
        }
   
}



