body {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("https://res.cloudinary.com/dljmlxtmx/image/upload/v1728104316/YelpCamp/wbyo1y5nhsnxha4dit0j.jpg");
    background-size: cover;
    background-position: center;
}

.nav-link {
    padding: 0.25rem 0;
    margin-left: 1rem;
    font-weight: 700;
    color: rgba(255,255,255,0.5);
    border-bottom: 0.25rem solid transparent;
}


.cover-container {
    max-width: 60vw;
   


    
}