body {
    /* Winky Rough Google font */
    font-family: 'Winky Rough', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url("https://res.cloudinary.com/dljmlxtmx/image/upload/v1761878790/tanya00255_A_serene_peaceful_camping_scene_where_the_tent_sits__e79bc97e-194d-4b88-a7bf-f798136dbdb7_qpqylc.webp");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0,0,0,0.5);
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.5);
}

/* Nabvar styles */

#navbarHome {
    font-size: 1.7rem;
    font-weight: 500;
}

#navbarHomeBrand {
    font-size: 2rem;
    font-weight: 400;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.05rem;
    align-items: center;
}

#navbarHomeLogo {
    display: inline-block;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50% 50% 0 0;
    background-image: url("../images/YC_logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}



#navbarHome .nav-link {
    padding-top: 0;
    margin: 1rem;
    color: rgba(255,255,255,1);
}

#navbarHome .nav-link:hover {
    color: #CCFF33;
}

#navbarHome .nav-link:active {
    text-shadow: 0.5rem 0 1.5rem #CCFF33,
    0 0.5rem 1.5rem #CCFF33,
    -0.5rem 0 1.5rem #CCFF33,
    0 -0.5rem 1.5rem #CCFF33;
    color: white;
}

/* Active top navbar links to be highlighted */

#navbarHome a.nav-link.active {
    font-size: 1.8rem;
    color:#eb5e28;
    font-weight: 600;
    text-shadow: none;
}

h1 {
    font-size: 3rem;
    font-weight: 400; 
} 

#homePageWelcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#homePageWelcome h1,
#welcome {
    text-shadow: 
    0 0.2rem 0.05rem #e4a442;
    color: #F0E7F2;
}

#welcome {
    font-size: 1.8rem;
    font-weight: 400;
}

/* Styles of home page button "View campgrounds" */

#welcomeBtn {
    display: block;
    margin-top: 2rem;
    width: 25rem;
    text-decoration: none;

    font-size: 1.8rem;
    color: black;
    font-weight: 400;

    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    background-color: #F0E7F2;

    box-shadow: inset 0 -0.7rem 0.5rem #e4a44299,
    inset -0.7rem 0.7rem 0.5rem #fdf1d755;

    border-top-color: #fdf1d755;
    border-right-color: #fdf1d755;
    border-bottom-color: #e4a44299;
}

#welcomeBtn:hover {
    background-color: #C4C3D0;
}

#welcomeBtn:active {
    background-color: #647c92;

    box-shadow: inset 0 -0.7rem 0.5rem #e4a44244,
    inset -0.7rem 0.7rem 0.5rem #fdf1d744;

    border-top-color: #fdf1d744;
    border-right-color: #fdf1d744;
    border-bottom-color: #e4a44244;
}

.cover-container {
    max-width: 60vw; 
}

 
#homePageFooter a,
#homePageFooter p {
 color: white;
 font-size: 1.5rem;
 font-weight: 500;
}

#homePageFooter a:hover {
    color:#CCFF33;
}


#homePageFooter hr {
    background-color: white;
    height: 0.4rem;
}


#homePageFooter .gitHub,
#homePageFooter .linkedIn {
    text-decoration: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%;
    display: inline-block;
    width: 2rem;
    height: 3rem;
}

#linkedInHomeSvg, 
#gitHumHomeSvg {
    width: 1.9rem;
    height: 1.9rem;
    margin-bottom: 0.8rem;
}

#homePageFooter .gitHub {
    margin-left: 0.5rem;
}

#homePageFooter .linkedIn {
    margin-left: 0.4rem;
}




