
/* .alert {
    position: absolute;
    font-size: 1.5em;
    font-weight: bold;
    z-index: 1;
} */



/* Styling "Show Campground" images */

#showCamp_pictures {
    width: 100%;
    padding: 2rem 0;
    background-color: white;
    
}

#showCampImgWrapper {
    overflow: hidden;
    width: 800px;
    margin: 0 auto;
    
}

#no_img_available_wrapper {
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#campShowImg, #no_img_available {
    height: 450px;
    width: auto;
    margin: 0 auto;  
}


/* End of styling "Show Campground" images */


/* the nested grid container for "Show Campground" page for screens > 1200px  */
#containerShowCamp {
    grid-area: b;
    display: grid;
    grid-template-columns: minmax(0, 1fr) 1060px minmax(0, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-template-areas: ". title ."
                         ". photos ."
                         ". map ."
                         ". description ."
                         ". price ."
                         ". updateDelBtns ."
                         ". reviews .";
}

/* Nested1-grid-container elements */

#showCampAuthorTimeTitleLocation {
    grid-area: title;
    background-color: white;
    padding: 2rem 0 0.5rem 0;
}

/* Styling "Show Campground" title, author, location */

#showCampAuthorAndTime {
    font-size:1.2rem;
    color: darkgreen;
    margin-left: 1rem;
}

h1#showCampTitle {
    color: black;
    text-align: center;
}

#showCampLocation {
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
    color: #000000AA;
}

/* End of styling "Show Campground" title, author, location */

#showCamp_pictures {
    grid-area: photos;
}

#showCampMapWrapper {
    grid-area: map;
    background-color: white;
    text-align: center;
   
}

#showMapBtn, #showPriceBtn {
    font-size: 2rem;
    font-weight: 500;
    color: darkgreen;
    cursor: pointer;

    border: 0.35rem solid darkgreen;
    border-radius: 0.65rem;
    margin: 1.2rem 9rem;
}

#showMapBtn:hover, #showPriceBtn:hover {
    background-color: #CCFF33;
}

#showMapBtn:active, #showPriceBtn:active {
    background-color: darkgreen;
    color: white;
}


#map {
    width: 100%;
    height: 400px;
}

#showCampDescriptionWrapper {
    grid-area: description;
    background-color: white;
    text-indent: 3rem;
    font-size: 1.5rem;
    text-align: justify;
    padding: 1rem;
}


#showCampPriceWrapper {
    grid-area: price;
    color: darkgreen;
    background-color: white;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}


span#campgroundPrice {
    font-weight: 700;
    font-size: 2.2rem;
}

#showCampUpdateDeleteBtnsWrapper {
    grid-area: updateDelBtns;
}

#showCampUpdateDeleteBtn {
    height: 8rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#campReview {
    grid-area: reviews;
    background-color: white;
}

#readMore {
    white-space: nowrap;
    text-indent: 0;
}

/* Style for marker that is displayed at "Show Campground" map */

.markerShowCamp {
    display: block;
    border: none;
    padding: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
    background-image: url("../images/MapTiler_tent_icon_PNG.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



























