<% layout ('layouts/boilerplate') %>

<div class="container d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 col-xxl-4 offset-xxl-4"> 
            <div id="loginWrapper" class="p-3 mb-5 bg-body rounded">
                <img src="https://res.cloudinary.com/dljmlxtmx/image/upload/v1762127730/tanya00255_A_serene_peaceful_camping_scene_where_the_tent_sits__75e2a1f5-1369-4550-b87a-48a1f340b5f6_lwy1ms.webp" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <form action="/login" method="POST" class="validated-form" novalidate>

                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" placeholder="Username" autocomplete="username" required autofocus>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                              Please provide a username.
                            </div>
                        </div>
                    
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" placeholder="Password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                              Please provide a password.
                            </div>
                        </div>
                        <div id="loginBtnWrapper" class="d-grid">
                            <button class="btn btn-info">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


